html {
    font-family: Oswald, sans-serif;
    font-size: 18px;
}

header {
  background-color: #2b7cff;
  color: white;
  padding: 10px 0px;
}

#top {
  text-align: center;
}

main {
  padding-left: 20%;
  padding-right: 20%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: slategray;
}
